*, 
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    line-height: 1.3em;
    color: #1b1b1b;
    background: #ffe359;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 1300px) {
    html, body {
        font-size: 22px;
    }
}

a,
a:visited {
    color: #42dc8e;
    text-decoration: none;
}

h1 {
    font-size: 5em;
    line-height: .8;
    font-weight: 900;
    position: absolute;
    bottom: 4rem;
    left: 3rem;
    width: 1rem;
    overflow: visible;
    margin: 0;
    z-index: 2;
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 8em;
    }
}

h2 {
    font-size: 2em;
    line-height: 1em;
    display: block;
    margin: 0 0 3rem;
    font-weight: 500;
    position: relative;
    padding: .5rem 0 .6rem 2.5rem;
    border-left: .5rem solid #42dc8e;    
}

h3 {
    font-size: 1.25em;
    line-height: 1em;
    font-weight: 900;
}

nav {
    background: #42dc8e;
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 2rem 3rem;
    margin: -1px 0 0;
    font-weight: 500;
    text-transform: uppercase;
    font-size: .9em;
}

nav a,
nav a:visited,
nav a:active {
    text-decoration: none;
    margin-right: 1.5em;
    color: #fff;
    border-bottom: .2em solid transparent;
    transition: border .5s ease;
}

nav a:hover,
nav a.active {
    border-color: #1b1b1b;
    color: #1b1b1b;
}

section {
    background: #fbfbfb;
    padding: 8rem 3rem;
}

.container {
    max-width: 30rem;
    margin: 0 auto;
}

#intro {
    height: calc(100vh - 5rem);
    padding: 0;
    position: relative;
    background: transparent;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

@keyframes appear {
    from { opacity: 0; }
    to { opacity: 1; }
}

#intro canvas {
    animation: appear 1s normal forwards ease-in;
}

#milestones {
    background-color: #f0f0f0;
}

@media screen and (min-width: 900px) {
    #milestones .container {
        max-width: 60em;
        -webkit-column-count: 2;
        -webkit-column-gap: 2rem;
        -moz-column-count: 2;
        -moz-column-gap: 2rem;
        column-count: 2;
        column-gap: 2rem;
    }
}

#contact {
    background-color: transparent;
}

.button {
    background: #42dc8e;
    color: #fff;
    border-radius: .3em;
    display: inline-block;
    padding: .5em 1em .6em;
    text-decoration: none;
    font-weight: 500;
    font-size: .9em;
    margin-top: 2rem;
}

.img-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    height: 0;
    background: #3AAFDC;
    padding-top: 5%;
}

.img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

article {
    width: 100%;
    display: inline-block;
    background: #fff;
    padding: 2.5rem;
    margin: 0 0 2rem;
}

article .img-wrapper {
    width: calc(100% + 5rem);
    margin: -2.5rem -2.5rem 2.5rem -2.5rem;
}

article:nth-child(2n - 1) .img-wrapper {
    background-color: #ffe359;
}

article:nth-child(3n - 1) .img-wrapper {
    background-color: #7513B8;
}

article:nth-child(4n - 1) .img-wrapper {
    background-color: #d89314;
}

article h3 {
    display: block;
    margin: 0;
}

p a,
p a:visited {
    color: inherit;
    text-decoration: underline;
}

time {
    font-size: .9em;
    color: #9f9f9f;
}

#milestones .icon {
    padding-top: 35%;
    background-color: #1a4172;
}

#milestones .icon img {
    top: 30%;
    left: 50%;
    width: auto;
    height: 40%;
    transform: translateX(-50%);
}

#milestones .mf {
    background-color: #0FDBC1;
}

#milestones .polymer {
    background-color: #7da2b1;
}
