@import 'tailwindcss';
@plugin "@tailwindcss/typography";

:root {
	--background: #171717;
	--foreground: #ffffff;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

.font-titan-one {
	font-family: var(--font-titan-one);
}

html {
	font-size: clamp(14px, 11.793px + 0.69vw, 18px);
	--bg-color: var(--background);
	background: var(--background);
	color: var(--foreground);
	scroll-timeline: --page-timeline y;
}

body {
	--bg-color: var(--background);
	background: var(--background);
	color: var(--foreground);
}

.scrollbar-stable {
	scrollbar-gutter: stable;
}

:target {
	scroll-margin-block: 5ex;
}

/* Opt-in to View Transitions */
@view-transition {
	navigation: auto;
}

/* Set the default transition names */
:root {
	view-transition-name: none;
}

body,
.slide body {
	view-transition-name: slide-from-viewport-bottom;
}

.circle body {
	view-transition-name: circle-reveal;
}

@media (prefers-reduced-motion: reduce) {
	::view-transition-group(slide-from-viewport-bottom) {
		animation-duration: 0s;
	}

	::view-transition-group(circle-reveal) {
		animation-duration: 0s;
	}
}

::view-transition-new(slide-from-viewport-bottom) {
	animation-name: slide-from-viewport-bottom;
	animation-duration: 0.6s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

::view-transition-old(slide-from-viewport-bottom) {
	animation: none;
}

::view-transition-new(circle-reveal) {
	animation-name: circle-reveal;
	animation-duration: 1.2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

::view-transition-old(circle-reveal) {
	animation-name: fade-out;
	animation-duration: 0.4s;
	animation-timing-function: ease-in;
	animation-fill-mode: both;
	animation-iteration-count: 1;
	animation-delay: 0.8s;
}

.rfm-marquee {
	view-transition-name: match-element;
	view-transition-class: marquee-left;
}

.rfm-marquee[style*="reverse"] {
	view-transition-class: marquee-right;
}

::view-transition-new(.marquee-left),
::view-transition-new(.marquee-right) {
	animation: 0.6s fade-in 0.4s ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: both;
}

::view-transition-old(.marquee-left) {
	animation: 0.6s fade-out 0s ease-in-out,
		0.6s margin-to-left 0s linear;
	animation-iteration-count: 1, 1;
	animation-fill-mode: both, both;
}

::view-transition-old(.marquee-right) {
	animation: 0.6s fade-out 0s ease-in-out,
		0.6s margin-to-right 0s linear;
	animation-iteration-count: 1, 1;
	animation-fill-mode: both, both;
}

.text-inverted {
	--contrast-color: color(from var(--bg-color) xyz clamp(0, (0.36 / y - 1) * infinity, 1) clamp(0, (0.36 / y - 1) * infinity, 1) clamp(0, (0.36 / y - 1) * infinity, 1) / 1);
	color: color-mix(in srgb, var(--contrast-color), var(--bg-color) 15%);
}

.page-layout {
	animation-name: rotate-hue;
	animation-duration: 1ms;
	animation-timeline: --page-timeline;
	background: var(--bg-color);
}

.animate-enter-up-on-scroll {
	transition: all;
	animation: fade-in ease-in-out, translate-from-below ease-in-out;
	animation-timeline: view(), view();
	animation-range: entry 0% cover 20%, entry 0% cover 20%;
	animation-fill-mode: both, both;
}

.animate-exit-up-on-scroll {
	transition: all;
	animation: fade-out ease-in-out, translate-to-above ease-in-out;
	animation-timeline: view(), view();
	animation-range: exit 0% exit 100%, exit 0% exit 100%;
	animation-fill-mode: both, both;
}

@keyframes slide-from-viewport-bottom {
	from {
		transform: translateY(101dvh);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes circle-reveal {
	from {
		clip-path: circle(0 at var(--page-transition-x, 50%) var(--page-transition-y, 50%));
	}

	to {
		clip-path: circle(max(200lvh, 200lvw) at var(--page-transition-x, 50%) var(--page-transition-y, 50%));
	}
}

@keyframes rotate-hue {
	from {
		filter: hue-rotate(0deg);
	}

	to {
		filter: hue-rotate(30deg);
	}
}

@keyframes margin-to-left {
	from {
		margin-left: 0;
	}

	to {
		margin-left: -90px;
	}
}

@keyframes margin-to-right {
	from {
		margin-left: 0;
	}

	to {
		margin-left: 90px;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes translate-to-above {
	from {
		transform: translateY(0%);
	}

	to {
		transform: translateY(-100%);
	}
}

@keyframes translate-from-below {
	from {
		transform: translateY(100%);
	}

	to {
		transform: translateY(0%);
	}
}